<!DOCTYPE html>
<html>
	<head>
		<title>{{ article.title }} - {{ site.title }}</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<meta property="og:title" content="{{ article.title }} - {{ site.title}}" />
		<meta property="og:description" content="{{ article.subtitle }}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ site.host }}/p/{{ article.slug }}" />
		<meta property="og:image" content="{{ site.logo }}" />
	</head>

	<body>
		<div class="wrapper">
			<p class="backhome"><a href="/">Acceuil</a></p>
			{{#article.img}}
				<img class="header-img" src="{{{ article.img }}}" alt="Bannière" />
			{{/article.img}}
			<div class="content">
				<h1>{{ artiel.title }}</h1>
				<p class="subtitle">{{ article.subtitle }}</p>
				<p class="tags">Tags :  
					{{#article.tags}}
						<span>{{name}}</span>
					{{/article.tags}}
				</p>

				{{{ article.contents }}}
				<p class="date">{{ article.pubdate }}</p>
			</div>
		</div>
	</body>
</html>
