<!DOCTYPE html>
<html>
	<head>
		<title>{{ site.title }}</title>
		<!-- Fait avec Blogodo (v{{ version }}) : https://github.com/Bigaston/blogodo-->
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<meta property="og:title" content="{{ site.title }}" />
		<meta property="og:description" content="{{ site.description }}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{{ site.host }}}" />
		<meta property="og:image" content="{{{ site.logo }}}" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	</head>

	<body>
		<div class="wrapper">
			{{#site.banner}}
				<img class="header-img" src="{{{site.banner}}}" alt="Bannnière" />
			{{/site.banner}}
			<div class="content">
				<h1>{{ site.title }}</h1>
				<p>{{{ site.description }}}</p>
				<a type="application/rss+xml" href="{{{ site.host }}}/rss">Flux RSS</a>
				
				<h2>Articles</h2>
				<section>
					{{#articles}}
						<article class="jeux">
							<a href="/p/{{ slug }}">{{ title }}</a>
							<p>{{ subtitle }}</p>
							<div>
								<p class="tags">
									{{#tags}}
										<a href="/t/{{name}}">{{name}}</a>
									{{/tags}}
								</p>
								{{#pubdate}}
									<p class="date-jeux">{{ pubdate }}</p>
								{{/pubdate}}
							</div>
						</article>
					{{/articles}}
					{{^articles}}
						<p>Pas d'articles pour le moment!</p>
					{{/articles}}
				</section>
			</div>
		</div>
	</body>
</html>


